div.cabecera{
	margin-top:rem-calc(40);
	margin-bottom:rem-calc(40);
}

h1 {
	color: #979B2D;
	font-size:rem-calc(48);
	line-height:rem-calc(18);
	padding-left:rem-calc(20);
	
}

h2 {
	color: #285D4D;
	font-weight:bold;
	font-size:rem-calc(54);
	line-height:rem-calc(48);
}
h3{
	color: #fff;
	font-weight:bold;
	font-size:rem-calc(28);
	margin-bottom:rem-calc(36);
	padding-left:rem-calc(20);
}
img.pleca_titulo{width:rem-calc(165);}

span.pleca_gris{background-color:#E7E2E0; color:#8E7C71; font-size:rem-calc(10); }

p.parrafo_verde{color: #979B2D;font-size:rem-calc(14);}

table.tabla{
	width:100%;
	color:#575756;
	text-align:center;
	font-size:rem-calc(14);
	margin-bottom:rem-calc(40);

	thead{
		background-color:#979B2D;
		color:$white;
	}
	th{text-align:center;}

	td.left{
		text-align:left;
	}

	td.bold{
		font-weight:bold;
	}	
}

/**Estilos pag4**/


div.graficas{
	margin-bottom:rem-calc(80);
}

.row_verde_claro{
	background-color:#CDCA95;				
	height:rem-calc(12);
}

.row_verde{
	background-color:#979B2D;
	padding:rem-calc(20);
	margin-bottom:rem-calc(40)
}

div.datos_relevantes{
	margin:0 auto;
	width:100%;
	text-align:center;
}

div.caja_verde_fuerte{
	font-size:rem-calc(16);
	text-align:center;
	background-color:#285D4D;
	color:#fff;
	padding:rem-calc(40 10);
	border-top-right-radius: rem-calc(20);
	border-bottom-left-radius: rem-calc(20);
	margin-bottom:rem-calc(40);
			
	div span{
		font-size:rem-calc(19);
	}
}
